* {
  box-sizing: border-box;
}

body {
  background-color: #ADD1BC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.calculatorBody {
  background-color: #0F609C;
  height: 100px;
  width: 230px;
  padding-top: 8px;
  height: 350px;
  border-radius: 10px;
}

.display {
  background-color: #215787;
  height: 60px;
  width: 220px;
  border: none;
  border-radius: 10px;
}