* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #ADD1BC, #D8BA82);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.calculatorBody {
  background-color: #0F609C;
  height: 100px;
  width: 230px;
  padding-top: 8px;
  height: 350px;
  border-radius: 10px;
}

.display {
  background-color: #215787;
  height: 60px;
  width: 220px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 40px;
  padding-right: 5px;
  overflow: hidden
}

.grid {
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-left: 2px;
}

.grid button {
  width: 51px;
  height: 51px;
  border-radius: 3px;
  border: none;
  margin: 2px;
  background-color: #AAA6DE;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.grid button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.grid button.left {
  margin-left: -54px;
}

.grid button.equal {
  width: 108px;
  background-color: #EA725F;
}

.grid button.equal:hover {
  transform: scale(1.05);
}